.text-read-view .modal-header {
  background-color: var(--color-1);
  color: #ffffff;
}

.text-read-view .modal-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.text-read-view .modal-body {
  font-size: 1rem;
}

.text-read-view-close-btn {
  background-color: var(--color-2);
  color: #ffffff;
  border: none;
  transition-duration: 0.4s;
}

.text-read-view-close-btn:hover {
  background-color: var(--color-2-hover);
  color: #606060;
}

.text-cover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.text-cover {
  max-width: 300px;
  max-height: 400px;
  min-width: 150px;
  min-height: 200px;
  width: 100%;
  height: auto;
  object-fit: contain;
  border: 2px solid var(--color-1); /* Add a border to the image */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to create depth */
  border-radius: 5px;
  background-color: var(--color-1);
}