 /* .genre-image {
  height: 200px;
  background-image: url(/path/to/image.jpg);
  background-position: center;
  background-size: cover;
} 

 .genre-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}  */

.genres-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.genre-tile {
  width: 31%;
  margin: 0 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.genre-tile {
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: #f8f8f8;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
}

.genre-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.genre-name {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}