.container{
  display:flex;
  align-items: center;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  width:100%;
  height:500%;
}

tr:hover {background-color: #5767aa;}

.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
}