.app-header {
  padding: 50px;
  color: white;
  background-color: var(--color-4-hover);
}

.content {
  max-height: calc(100vh - 2 * 50px); /* Adjust the subtracted value if needed */
  overflow-y: auto;
}

.about-card {
  padding: 40px;
  background-color: var(--color-5);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-5) var(--color-3);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--color-5);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-3) ;
  border-radius: 20px;
  border: 3px solid var(--color-3);
}