.navbar-custom {
  background-color: #3f51b5;
}

.navbar-brand-icon {
  font-size: 2rem;
  margin-right: 0.5rem;
  color: #fff;
}

.navbar-toggler-icon {
  font-size: 2rem;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1rem;
}

.navbar-nav-custom {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}