.navbar-custom {
  background-color: var(--color-3);
  font-family: 'Roboto', sans-serif; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.navbar-brand-icon {
  font-size: 2rem;
  margin-right: 0.5rem;
  color: #fff;
}

.navbar-toggler-icon {
  font-size: 2rem;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-3);
  padding: 1rem;
}

.navbar-nav-custom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.navbar-custom-admin {
  background-color: #D32F2F;
}

.nav-item-icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.nav-link {
  color: #D3D3D3;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #efecec;
}

.nav-link-active {
  color: #F8F8FF !important;
}


