.modal-content {
  background-color: #ffffff;
  color: #000;
  border: 2px solid #F9AA33 ;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-header {
  border-bottom: none;
  padding: 1rem;
  background-color: #F9AA33 ;
  color: #ffffff;
}

.modal-title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.modal-body {
  padding: 2rem;
}

p {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.text-cover {
  width: 100%;
  max-height: 300px;
  max-width:200px;
  object-fit: contain;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.btn-custom {
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.btn-custom-buy {
  background-color: var(--color-2);
  border-color: var(--color-2);
  margin-left: 1rem;
  color: #ffffff;
}

.btn-custom-comments {
  background-color: var(--color-3);
  border-color: var(--color-3);
  color: #ffffff;
}

.btn-custom-buy:hover {
  background-color: var(--color-2-hover);
  color: #ffffff;
}

.btn-custom-comments:hover {
  background-color: var(--color-3-hover);
  color: #ffffff;
}