.text-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text-tile img {
  width: 100%;
  object-fit: cover;
  max-width: 300px;
  max-height: 200px;
}

.text-tile-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

.text-tile-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-tiles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.text-tiles-section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #606060;
  text-transform: uppercase;
  text-align: center;
  margin: 40px 0;
  position: relative;
}