.book-tiles-section-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-4);
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--color-1);
  padding-bottom: 0.5rem;
}

.modal-header {
  background-color: var(--color-1);
  color: white;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
} 

.chapter-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-3);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.chapter-content {
  white-space: pre-wrap;
}

.modal-body {
  max-height: 400px;
  overflow-y: auto;
}

.modal-body::-webkit-scrollbar {
  width: 8px;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: var(--color-4);
  border-radius: 4px;
}

.modal-body::-webkit-scrollbar-track {
  background-color:#f1f1f1;
  border-radius: 4px;
}

.book-tiles-grid::-webkit-scrollbar-thumb:hover {
  background: #303030;
}